<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="WebUI.objectPages.TestCases.LocationSearchTest_TC001"/>
      <class name="WebUI.objectPages.TestCases.LoginTest__TC002"/>
      <class name="WebUI.objectPages.TestCases.movieSelectionTest"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
